 /* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Harmonia+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Harmonia Sans', sans-serif;
  }

  .add_cart_container {
    padding-top: 2.5rem;
    background-color: #ffffff;
  }
  
  .add_cart_main_container {
    padding: 1rem;
    border-radius: 0.5rem;
    transition: box-shadow 0.3s ease;
  }
  
  .add_cart_main_container:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  /* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
